<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <h1 class="mb-1">Танцова Школа Жълтица</h1>
            <h3 class="mb-5">
                <em>Най-приятното изживяване</em>
            </h3>
            <a href="/signin" class="btn btn-primary btn-lg">
                Започни
            </a>
        </div>
    </header>
</main>