<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Танцова Школа Жълтица</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a href="/payments" class="nav-link">Плащания</a>
                </li>
                <li class="nav-item">
                    <a href="/schedule" class="nav-link">График</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Видео уроци</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/links">Всички видеа</a>
                        {{#if user.is_admin}}<div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/links/add">Добави видео</a>{{/if}}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Събития</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/events">Всички събития</a>
                        {{#if user.is_admin}}<div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/events/add">Добави събитие</a>{{/if}}
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">Профил</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Излез</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Влез</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Регистрирай се</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>